body {
	font-family: 'Open Sans', sans-serif;
	margin: 30px;
}
.logo{
    height: 80px;
    float: left;
}
.nav-title{
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}
#mapApp{
    height: 920px;
    width: 1400px;
    float: left;
}
#radar{
    position: absolute;
    left: 1400px;
    top: 100px;
    height: 400px;
    width: 400px;
}
#switch{
    position: absolute;
    left: 1400px;
    top: 530px;
    width: 400px;
}
#text{
    position: absolute;
    left: 1400px;
    top: 580px;
    height: 400px;
    width: 400px;
    font-size: 25px;
}